@import "../../index.scss";

.taskbar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 4rem;
  max-width: 100%;
  background-color: $primary_color;
  border-radius: 5px;
  color: white;
  margin-top: 1rem;
}

.taskbar-title {
  padding-left: 15px;
  font-weight: 600;
  font-size: 1.5rem !important;
}

.taskbar-icons {
  height: 100%;
  display: flex;
  align-items: center;
}
